@charset "utf-8";
#k {
	height: auto;
	width: 800px;
	margin-top: 20px;
	margin-right: auto;
	margin-bottom: auto;
	margin-left: auto;
}
#flas {
	background-color: #217EE9;
	float: left;
	height: 40px;
	width: 800px;
	margin-top: auto;
	margin-right: auto;
	margin-bottom: 10px;
	margin-left: auto;
}
#banner {
	float: left;
	height: 150px;
	width: 800px;
	margin-top: auto;
	margin-right: auto;
	margin-bottom: auto;
	margin-left: auto;
}
#gk {
	float: left;
	height: 600px;
	width: 800px;
	margin-top: auto;
	margin-right: auto;
	margin-bottom: auto;
	margin-left: auto;
}
#alt {
	background-color: #00F;
	float: left;
	height: 200px;
	width: 800px;
	margin-top: auto;
	margin-right: auto;
	margin-bottom: auto;
	margin-left: auto;
}
#altt {
	clear: left;
}
#sol {
	margin: auto;
	float: left;
	height: 600px;
	width: 150px;
}
#govde {
	background-color: #39C;
	float: left;
	height: 600px;
	width: 650px;
	margin-top: auto;
	margin-right: auto;
	margin-bottom: auto;
	margin-left: auto;
}
#gt {
	clear: left;
}
#r1 {
	background-color: #536384;
	margin: auto;
	float: left;
	height: 200px;
	width: 150px;
}
#r2 {
	background-color: #6FC;
	float: left;
	height: 400px;
	width: 150px;
	margin-top: auto;
	margin-right: auto;
	margin-bottom: auto;
	margin-left: auto;
}
